@import '../common.scss';

body, html, #root {
    overflow: hidden;
    height: 100%;
}
.player-layout-main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    overflow: hidden;
    .player-layout-content {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        .player-layout-information {
            width: 100%;
            padding: $width-11 0 0 $width-4;
            overflow: auto;
        }
    }
    .player-layout-bar {
        flex: 0 0 $width-13;
        overflow: hidden;
        border-top: 1px solid rgba(255, 255, 255, 0.12);
    }
}