@import 'common';

.splayer-main {
    width: 100%;
    height: 80px;
    position: relative;
    border-top: 1px solid $grey-012;
    overflow: hidden;
    z-index: 200000;
    .splayer-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position-y: 50%;
        filter: brightness(0.3) blur(5px);
        z-index: -1;
    }
    .splayer-slider-box {
        position: fixed;
        margin-top: -14px;
        z-index: 1000000;
        width: 100%;
        .splayer-slider {
            & .MuiSlider-track {
                transition-duration: 0s;
            }
            & .MuiSlider-thumb {
                width: 8px;
                height: 8px;
                transition: 0.1s cubic-bezier(.47, 1.64, .41, .8);
                &::before {
                    box-shadow: 0 2px 12px 0 $grey-4;
                }
                &:hover, & .Mui-focusVisible {
                    box-Shadow: 0 0 0 8 rgb(255 255 255 / 16%);
                }
                & .Mui-active {
                    width: 20px;
                    height: 20px;
                }
            }
            & .MuiSlider-rail {
                opacity: 0.28;
            }
        }
        .splayer-slider-current {
            position: absolute;
            left: 4px;
            top: 16px;
            font-size: 12px;
        }
        .splayer-slider-duration {
            position: absolute;
            right: 4px;
            top: 16px;
            font-size: 12px;
        }
    }
    .splayer-layout, .splayer-controller-bar {
        height: 100%;
        .controller-bar-button {
            line-height: 56px;
        }
    }
    .splayer-middle-side {
        height: 100%;
        padding: $width-2 $width-7;
    }
    .splayer-music-card {
        border-radius: $width-3;
        width: 100%;
        height: 100%;
        padding: $width-2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $grey-012;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        .splayer-music-card-cover {
            flex: 0 0 66px;
            display: flex;
            img {
                border-radius: $width-2;
                width: 66px;
                height: 44px;
                object-fit: cover;
            }
        }
        .splayer-music-card-info {
            flex: 1;
            margin-left: $width-2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            .splayer-music-card-title {
                font-size: 12px;
                font-weight: $font-weight-medium;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                &.lrc-mode {
                    font-size: 16px;
                }
            }
            .splayer-music-card-desc {
                margin-top: $width-1;
                height: 14px;
                font-size: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .splayer-music-card-extra {
            flex: 0 0 60px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            .splayer-music-card-extra-item {

            }
        }
    }

    .splayer-right-side {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: $width-2 $width-7;
    }
    .splayer-operator-bar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        .splayer-operator-bar-item {

        }
    }

    @media(max-width: 900px) {
       .splayer-middle-side, .splayer-right-side{
           display: none;
       }
    }

    &.splayer-theme-light {
        .splayer-background{
            opacity: 0.3;
            filter: brightness(1) blur(5px);
        }
        .splayer-music-card {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

#splayer-playing-list-popover {
    z-index: 1000099;
    .splayer-playing-list {
        width: $width-17;
        height: $width-18;
        .splayer-playing-item-active {
            background-color: $blue-7;
            .splayer-playing-item-title {
                font-weight: $font-weight-semibold;
                color: white;
            }
        }
        .MuiListItem-root:hover {
            background-color: $blue-6;
            .splayer-playing-item-title {
                color: white;
            }
        }
        .splayer-playing-item-title {
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 12px;
        }
    }
}

#volume-popover{
    z-index: 1000099;
}
.splayer-volume-box {
    height: $width-14;
    padding:  $width-6 $width-3;
}